*{
    box-sizing: border-box;
    padding: 10px;
    line-height: 1.5em;
}

header{
    height: 60px;
    
}


nav{
    background-color: darkgrey;
    padding: 10px;
    width: 100%;
    z-index: 1;
    position: fixed;
}

.brandName, .menu, .contactIconsContainer{
    display: inline-block;
    width: 40%;
}

.menu, .contactIconsContainer{
    text-align: right;
}

 .heroContainer{
    padding: 10px;
} 

p{
    padding: 5px;
}

main{
    text-align: center;
}

.aboutContainer{
    background-color: gray;
    padding: 10px;
}

.projectsContainer{
    background-color: darkgray;
    padding: 10px;
}

footer{
    background-color: darkgrey;
    padding: 10px; 
    width: 100%; 
}